*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
$fontSize:1.2rem;
$fontColor: white;
$nabBgColor: #30a7c3;
$fontFamily: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$bannerBgColor: hotpink;

body {
    font-family: $fontFamily;
    background-color: $bannerBgColor;
    font-size: $fontSize;
    color: $fontColor;
}

header{
    background-color: $nabBgColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
        width: 80px;
    }
    ul{
        list-style-type: none;
        li{
            display: inline-block;
            padding: 0.5rem;
            &:hover{
                text-decoration: underline;
            }
        }
        // li:hover{
        //     text-decoration: underline;
        // }
    }
    a{
        color: $fontColor;
        text-decoration: none;
        
    }
}