*{
    margin: 40px ;
}
.yazi{
    text-align: center;
    font-size: 2rem;
    margin: 2rem auto;
    width: 50vw;
}
/*************ROTATE*******************/
.yazi1{
    background-color: greenyellow;
    transform: rotateX(180deg);
}
.yazi2{
    background-color: tomato;
    transform: rotateY(180deg
    );
}
.yazi3{
    background-color: aqua;
    transform: rotate(-45deg);
    
}
/*************SCALE*******************/
.yazi4{
    background-color: yellow;
}
.yazi4:hover{
    transform: scaleX(1.5) scaleY(3);
}
.yazi5{
    background-color: blueviolet;
}
.yazi5:active{
    transform: scale(1.1, 1.2);
}
.yazi6{
    background-color: red;

}
.yazi6:active{
    transform: scale(98%);

}

/*************TRANSLATE-TRANSFORM*******************/
.translate{
    background-color: aqua;
    font-weight: 800;
    font-size: 1.1rem;
    width: 100px;
    height: 50px;
    margin: 10px;
    transition: background-color 1s, transform 1s;
/*transition da birden fazla özellik verirken araya virgül konulur.*/
/*transform da bir den fazla özellik verilirken araya sadece boşluk konulur.*/

}
.x:hover{
    transform: translatex(50px);
    transform: scale(90%);
   background-color: yellow;

}
.y:active{
    transform: translatey(-50px);
    background-color: tomato;

}
.xy:hover{
    transform: translate(50px, -50px);
    transform: scale(50%);
    background-color: brown;

}
.btn{
    padding:1rem;
    width:8rem;
    background-color: gold;
    border:none;
    font-size: 1.2rem;
    border-radius: 10px;
    transition: background-color 1s, color 1s, font-weiight 1s;
    
}
.btn-div{
    text-align: center;
    
}
.btn:hover{
    background-color: blueviolet;
    color: white;
    font-weight: 700;
    transform: scale(98%);
}
.btn:active{
    transform: scale(95%);
}
/* iç kısma gölge box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */